@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Fira Sans", sans-serif;
  background: black;
  display: grid;
  place-items: center;
  height: 100vh;
  text-align: center;
  margin: 0;
}

main {
  background: white;
  padding: 1rem;
}

main * {
  margin: 0;
}

#logo {
  height: 50px;
}

footer {
  color: white;
  padding-top: 1rem;
  font-style: italic;
}
